<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div class="image-container" style="display: flex; justify-content: center;">
            <a  href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user" style="margin-top: 50px;"></i>
            </a>
        </div>
        <h4 style="text-align: center; padding: 20px 0px;"><%=user.name%></h4>
        <!-- Sidebar - Brand -->

        <!-- <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span> -->

        <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Main Naviagtion
    </div>

    
    <!-- Appointments -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/appointments">
            <i class="fas fa-calendar-check"></i>
            <span>Appointments</span>
        </a>
    </li>
    <!-- medical records -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-calendar-check"></i>
            <span>Medical records</span>
        </a>
    </li>

    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Settings -->
    <div class="sidebar-heading">
        Settings
    </div>

  

    <li class="nav-item">
        <a class="nav-link" href="/dashboard/profile">
            <i class="fas fa-user-circle"></i>
            <span>Profile</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/changepassword">
            <i class="fa-solid fa-lock"></i>
            <span>Change Password</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/deleteaccount">
            <i class="fa-solid fa-lock"></i>
            <span>Delete Account</span>
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </li>

  

</ul>
<!-- End of Sidebar -->



